.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.room, .settings {
  border: 1px solid black;
  margin: 10px;
}

.room {
  width: 640px;
  min-height: 480px;
  background: lightgray;
  padding: 5px;
}

.settings {
  width: 360px;
  padding: 10px;
}

.settings form {
  display: flex;
  flex-direction: column;
  
}

.settings input, .settings textarea {margin: 5px 0;}
.settings #local-media video {max-width: 100%;}
